<div class="modal-header">
  <div class="modal-title" *ngIf="record.id > 0; else addNew">Edit {{ record.id }} </div>
  <ng-template #addNew>
    <div class="modal-title">Add</div>
  </ng-template>
  <!-- <div class="modal-title" *ngIf="i.id === 0">Add new </div> -->
</div>
<!-- <nz-spin *ngIf="!i" class="modal-spin"></nz-spin> -->
<!-- <sf *ngIf="i" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="i" button="none">
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">Close</button>
    <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid" [nzLoading]="http.loading">Save</button>
  </div>
</sf> -->

<nz-spin *ngIf="loading" class="modal-spin"></nz-spin>
<form *ngIf="!loading" nz-form [formGroup]="approvalForm" [nzLayout]="'horizontal'">
  <nz-row [nzGutter]="{ xs: 8, sm:8, md: 8, lg: 24, xl: 48, xxl: 48 }">
    <nz-col [nzMd]="12" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="8" [nzSm]="24" nzRequired nzFor="approval_no">Approval No.
        </nz-form-label>
        <nz-form-control [nzMd]="16" [nzSm]="24">
          <input nz-input formControlName="approval_no" id="approval_no" style="color: currentColor" />
          <nz-form-explain
            *ngIf="approvalForm.get('approval_no')?.dirty && approvalForm.get('approval_no')?.errors || approvalForm.get('approval_no')?.pending">
            <ng-container *ngIf="approvalForm.get('approval_no')?.hasError('required')">
              Please input approval number!
            </ng-container>
            <ng-container *ngIf="approvalForm.get('approval_no')?.hasError('duplicated')">
              {{approvalForm.get('approval_no').value}} already exist!
            </ng-container>
            <ng-container *ngIf="approvalForm.get('approval_no')?.pending">
              Validating...
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="12" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="approval_type">Type
        </nz-form-label>
        <nz-form-control [nzMd]="16" [nzSm]="24">
          <input nz-input formControlName="approval_type" id="approval_type" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="12" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="sub_type">Sub Type
        </nz-form-label>
        <nz-form-control [nzMd]="16" [nzSm]="24">
          <input nz-input formControlName="sub_type" id="sub_type" />
          <nz-form-explain *ngIf="approvalForm.get('sub_type')?.dirty && approvalForm.get('sub_type')?.errors">
            The input is invalid.
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="12" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="standard">Standard
        </nz-form-label>
        <nz-form-control [nzMd]="16" [nzSm]="24">
          <input nz-input formControlName="standard" id="standard" />
          <nz-form-explain *ngIf="approvalForm.get('standard')?.dirty && approvalForm.get('standard')?.errors">
            The input is invalid.
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="12" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="8" [nzSm]="24" nzFor="reference">Reference </nz-form-label>
        <nz-form-control [nzMd]="16" [nzSm]="24">
          <input nz-input formControlName="reference" id="reference" />
          <nz-form-explain *ngIf="approvalForm.get('reference')?.dirty && approvalForm.get('reference')?.errors">
            The input is invalid.
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="12" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="8" [nzSm]="24" nzRequired nzFor="status">Status
        </nz-form-label>
        <nz-form-control [nzMd]="16" [nzSm]="24">
          <input nz-input formControlName="status" id="status" />
          <nz-form-explain *ngIf="approvalForm.get('status')?.dirty && approvalForm.get('status')?.errors">
            The input is invalid.
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="24" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="4" [nzSm]="24" nzFor="description">Description
        </nz-form-label>
        <nz-form-control [nzMd]="20" [nzSm]="24">
          <textarea formControlName="description" nz-input rows="2" placeholder="write any thing"></textarea>
          <!-- <input nz-input formControlName="description" id="description" />
            <nz-form-explain *ngIf="approvalForm.get('standard')?.dirty && approvalForm.get('standard')?.errors">
              The input is invalid.
            </nz-form-explain> -->
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="12" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="8" [nzSm]="24" nzRequired nzFor="effective_date">Effective Date
        </nz-form-label>
        <nz-form-control [nzMd]="16" [nzSm]="24">
          <nz-date-picker formControlName="effective_date"></nz-date-picker>

          <!-- <input nz-input formControlName="effective_date" id="effective_date" />
          <nz-form-explain *ngIf="approvalForm.get('effective_date')?.dirty && approvalForm.get('effective_date')?.errors">
            The input is invalid.
          </nz-form-explain> -->
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="12" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="8" [nzSm]="24" nzRequired nzFor="expiry_date">Expiry Date
        </nz-form-label>
        <nz-form-control [nzMd]="16" [nzSm]="24">
          <nz-date-picker formControlName="expiry_date"></nz-date-picker>
          <!-- <input nz-input formControlName="expiry_date" id="expiry_date" />
          <nz-form-explain *ngIf="approvalForm.get('expiry_date')?.dirty && approvalForm.get('expiry_date')?.errors">
            The input is invalid.
          </nz-form-explain> -->
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="24" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="4" [nzSm]="24" nzFor="notes">Note
        </nz-form-label>
        <nz-form-control [nzMd]="20" [nzSm]="24">
          <textarea formControlName="notes" nz-input rows="2" placeholder="write any thing"></textarea>
          <!-- <input nz-input formControlName="description" id="description" />
          <nz-form-explain *ngIf="approvalForm.get('standard')?.dirty && approvalForm.get('standard')?.errors">
            The input is invalid.
          </nz-form-explain> -->
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="24" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="4" [nzSm]="24" nzFor="Product Type">Product Type
        </nz-form-label>
        <nz-form-control [nzMd]="20" [nzSm]="24">
          <nz-select formControlName="product_types" [nzMode]="'tags'" (ngModelChange)="onTypeChange(evt)">
            <nz-option *ngFor="let option of allTypeOpts" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzMd]="24" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="4" [nzSm]="24" nzFor="doc">Products
        </nz-form-label>
        <nz-form-control [nzMd]="20" [nzSm]="24">
          <nz-transfer [nzDataSource]="transferListSource" [nzTitles]="['Source', 'Target']" nzShowSearch
            (nzChange)="change($event)" [nzFilterOption]="filterOpts">
          </nz-transfer>
        </nz-form-control>
      </nz-form-item>
    </nz-col>


    <nz-col [nzMd]="24" [nzSm]="24">
      <nz-form-item>
        <nz-form-label [nzMd]="4" [nzSm]="24" nzFor="doc">Document
        </nz-form-label>
        <nz-form-control [nzMd]="5" [nzSm]="24">
          <nz-upload [nzFileList]="fileList" [nzBeforeUpload]="beforeUpload" [nzRemove]="remove">
            <button nz-button><i nz-icon nzType="upload"></i><span>Select File</span></button>
          </nz-upload>
          <!-- <textarea formControlName="notes" nz-input rows="2" placeholder="write any thing"></textarea> -->
          <!-- <input nz-input formControlName="description" id="description" />
            <nz-form-explain *ngIf="approvalForm.get('standard')?.dirty && approvalForm.get('standard')?.errors">
              The input is invalid.
            </nz-form-explain> -->
        </nz-form-control>
      </nz-form-item>
    </nz-col>

  </nz-row>

  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">Close</button>
    <button nz-button type="submit" nzType="primary" (click)="submitForm()" [nzLoading]="http.loading">Save</button>
  </div>
</form>