<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">Add</button>
  </ng-template>
</page-header>
<nz-card>
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()">
    <nz-form-item>
      <nz-form-control>
        <input nz-input [(ngModel)]="q.name" [ngModelOptions]="{standalone: true}" placeholder="Search name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">Search</button>
        <button nz-button type="reset" (click)="reset()">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <st #st [data]="data" [total]="total" [page]="page" [columns]="columns" (change)="stChange($event)"></st>
</nz-card>